[submodule "blinkforms/react-json-blinkforms"]
	path = blinkforms/react-json-blinkforms
	url = https://github.com/json-blinkforms/react-json-blinkforms.git
[submodule "blinkforms/typescript-core"]
	path = blinkforms/typescript-core
	url = https://github.com/json-blinkforms/typescript-core.git
